require 'active_record'

class <%= class_name %> < ActiveRecord::Migration[7.0]

  # Migration suported types reference: https://guides.rubyonrails.org/v3.2/migrations.html#supported-types

  def change
    create_table :[table-name-here-in-plural] do |t|
      # t.belongs_to :user, type: :uuid, foreing_key: true
      # t.belongs_to :user, type: :uuid, foreing_key: true, index: { unique: true }
      t.timestamps null: false
    end
  end
end
